<div>
    <mat-card class="archiv-header" appearance="outlined">
        <div align="center"> 
            <h1>
                Archiv
            </h1>
            <p>
                Willkommen im Archiv! hier findest du Texte, Bilder und allerlei Kram!
            </p>
        </div>
    </mat-card>

    <div class="archiv-body">
        <mat-card class="archiv-menu-card" appearance="outlined">
            <h4>
                Inhaltsübersicht    
            </h4>
            <button matButton   class="inhaltsbutton" (click)="buttonClick('Green Winged Hussars')">Green Winged Hussars</button>
        </mat-card>

        <div class="archiv-text-panel">
            <app-text></app-text>
        </div>
    </div>
</div>
